
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {

	margin:0;

	padding:0;

	border:0;

	font-size:100%;

	vertical-align:baseline;

	color: #fff;

	font-family: sans-serif;


}

a{
	text-decoration: none;
	color: #06C;
}


.clear{
	clear: both;
	padding-top:5px;
	padding-bottom:5px;

}

.page{
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #ff5c5c;
	text-align: center;
	min-height: 1000px;
}

.buttons{
 width: 210px;
 margin: 20px auto 0 auto;
}

.dealer-cards .card, .player-cards .card {
	margin-left: 5px;
}

.dealer-cards .card:first-child, .player-cards .card:first-child{
	margin-left: 0;
}

 .new-cards .card:first-child{
	margin-left: 5px;
}

.dealer-cards, .player-cards{
	padding-top: 10px;
	width: 165px;
	margin: 0 auto;
}

.dealer-total, .player-total{
	margin-bottom: 5px;
}

 .container{
	width: 210px;
	margin: 0px auto 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
 }

.flipped{
	background-position: -158px -492px !important;
}


.card {
    background-image: url(images/cards.png);
    float: left;
    height: 123px;
    width: 79px;
}

.message{
	font-size: 25px;
	margin-top: 30px;
	height: 60px;
}

.dealer-total{
	visibility: hidden;
}


/* Clubs */
.ace-of-clubs{
	background-position: 0 0;
}

.two-of-clubs{
	background-position: -79px 0;
}

.three-of-clubs{
	background-position: -158px 0;
}

.four-of-clubs{
	background-position: -237px 0;
}

.five-of-clubs{
	background-position: -316px 0;
}

.six-of-clubs{
	background-position: -395px 0;
}

.seven-of-clubs{
	background-position: -474px 0;
}

.eight-of-clubs{
	background-position: -553px 0;
}

.nine-of-clubs{
	background-position: -632px 0;
}

.ten-of-clubs{
	background-position: -711px 0;
}

.jack-of-clubs{
	background-position: -790px 0;
}

.queen-of-clubs{
	background-position: -869px 0;
}

.king-of-clubs{
	background-position: -948px 0;
}




/* Spades */
.ace-of-spades{
	background-position: 0 -123px;
}

.two-of-spades{
	background-position: -79px -123px;
}

.three-of-spades{
	background-position: -158px -123px;
}

.four-of-spades{
	background-position: -237px -123px;
}

.five-of-spades{
	background-position: -316px -123px;
}

.six-of-spades{
	background-position: -395px -123px;
}

.seven-of-spades{
	background-position: -474px -123px;
}

.eight-of-spades{
	background-position: -553px -123px;
}

.nine-of-spades{
	background-position: -632px -123px;
}

.ten-of-spades{
	background-position: -711px -123px;
}

.jack-of-spades{
	background-position: -790px -123px;
}

.queen-of-spades{
	background-position: -869px -123px;
}

.king-of-spades{
	background-position: -948px -123px;
}



/* Hearts */
.ace-of-hearts{
	background-position: 0 -246px;
}

.two-of-hearts{
	background-position: -79px -246px;
}

.three-of-hearts{
	background-position: -158px -246px;
}

.four-of-hearts{
	background-position: -237px -246px;
}

.five-of-hearts{
	background-position: -316px -246px;
}

.six-of-hearts{
	background-position: -395px -246px;
}

.seven-of-hearts{
	background-position: -474px -246px;
}

.eight-of-hearts{
	background-position: -553px -246px;
}

.nine-of-hearts{
	background-position: -632px -246px;
}

.ten-of-hearts{
	background-position: -711px -246px;
}

.jack-of-hearts{
	background-position: -790px -246px;
}

.queen-of-hearts{
	background-position: -869px -246px;
}

.king-of-hearts{
	background-position: -948px -246px;
}


/* Diamonds */
.ace-of-diamonds{
	background-position: 0 -369px;
}

.two-of-diamonds{
	background-position: -79px -369px;
}

.three-of-diamonds{
	background-position: -158px -369px;
}

.four-of-diamonds{
	background-position: -237px -369px;
}

.five-of-diamonds{
	background-position: -316px -369px;
}

.six-of-diamonds{
	background-position: -395px -369px;
}

.seven-of-diamonds{
	background-position: -474px -369px;
}

.eight-of-diamonds{
	background-position: -553px -369px;
}

.nine-of-diamonds{
	background-position: -632px -369px;
}

.ten-of-diamonds{
	background-position: -711px -369px;
}

.jack-of-diamonds{
	background-position: -790px -369px;
}

.queen-of-diamonds{
	background-position: -869px -369px;
}

.king-of-diamonds{
	background-position: -948px -369px;
}

.bet{
	width: 50px;
	margin: 0 auto;
	height: 40px;
}

.betting-area{
	width: 70px;
	margin: 30px auto 30px auto;
}

.betting-area #more{
	float: left;
	width: 30px;
}

.betting-area #less{
	float: left;
	width: 30px;
}

.money{
	color: #53eb53;
	font-size: 25px;
}
